#include <windows.h>
#define IDD_TOPPANEL  1001
#define IDD_SIDEPANEL 1002

IDD_TOPPANEL DIALOGEX 0, 0, 400, 20
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
END

IDD_SIDEPANEL DIALOGEX 0, 0, 150, 400
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
END